* {
    box-sizing: border-box;
    /* Incluye padding y border en el cálculo del ancho */
}

.menu-hide-button {
    display: none;

}

button {

    background-color: transparent;
    border: 0px;
}

.main-render {}

/* button:hover {} */


@media (width <=600px) {
    .menu-hide-button {
        display: block;

    }

    .toggle-sidebar {
        display: none;
    }
}


/* @media screen and (width >=600px) {
    .menu-hide-button {
        display: block;
    }
} */