.btn-create:hover {
    background-color: rgb(255, 255, 75);
    color: black;
    transition: 300ms;
    font-size: 12pt;
}

.btn-update:hover {
    background-color: rgb(54, 57, 255);
    color: white;
    transition: 300ms;
    font-size: 12pt;
}

.btn-delete:hover {
    background-color: rgb(255, 49, 49);
    color: white;
    transition: 300ms;
    font-size: 12pt;
}

.btn-read:hover {
    background-color: rgb(68, 68, 68);
    color: white;
    transition: 300ms;
    font-size: 12pt;
}

.btn-report:hover {
    background-color: rgb(115, 112, 143);
    color: white;
    transition: 300ms;
    font-size: 12pt;
}